
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Management System</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/add_student" style="text-decoration: none;">Add student</a></li>
            <li><a href="/add_subject" style="text-decoration: none;">Add subject</a></li>
            <li><a href="/add_marks" style="text-decoration: none;">Add marks</a></li>

            <hr>

<a href="/download_marks_template">Download Marks Excel</a><br>
<a href="/import_marks">Upload Marks Excel</a><br>

<hr>
            <li><a href="/results" style="text-decoration: none;">View results</a></li>

            
        </ul>
    </nav>
    
</body>
</html>


